* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Top Navbar Start */

header {
  position: sticky;
  top: 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 1.3em;
  box-shadow: 10px 10px 10px rgba(95, 94, 94, 0.5);
  color: #1da81d;
}

.logo {
  text-align: center;
}

.search-icon {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 1.5em;
  margin-left: 82%;
}

/* Top Navbar End */



/* Burger Icon Start */

.toggle-1 {
  position: absolute;
  z-index: 100000;
  right: 85%;
  top: 2.2em;
  width: 1.7em;
  height: 0.2em;
  background: #1da81d;
}

.toggle-2 {
  position: absolute;
  z-index: 1000000;
  right: 85%;
  top: 2.5em;
  width: 1.7em;
  height: 0.2em;
  background: #1da81d;
}

.toggle-3 {
  position: absolute;
  z-index: 100000;
  right: 85%;
  bottom: 1.95em;
  width: 1.7em;
  height: 0.2em;
  background: #1da81d;
}

/* Burger Icon End */

/* Hero Section Start */

.hero {
  background: url('./images/background-img.jpg') center center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.hero h1 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #1da81d;
  font-size: 2.5em;
}

.button {
  
}

/* Hero Section End */

/* Navigation Menu Start */

.side-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
}

.side-menu li {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 5em;
  justify-content: center;
  list-style: none;
  font-size: 1.6em;
}



/* Navigation Menu End */

.products {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
}

.h2-products {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #1da81d;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 90%;
  margin: auto;
  border: 2px solid black;
  
}

.card {
  background-color: rgb(233, 230, 230);
  margin: 2em;
  border: 1px solid red;
  padding: 7em;
}

.h3-card {
  color: #1da81d;
  display: flex;
  justify-content: center;
}